*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border:1px solid black ;
    margin: auto;
    position: relative;
}
#character{
    width: 20px;
    height: 20px;
    background-color:red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}
#startOverlay{
    position:absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
#startOverlay button{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
#sidePanel{
    position:absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#sidePanel button{
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

.block{
    width: 400px;
    height: 20px;
    background-color:black ;
    position:relative;
    top:100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color:white ;
    position:relative;
    top: 100px;
    margin-top: -20px;
}
